.DS_Store
**/.DS_Store
node_modules/
vscode-extension/node_modules/
extension/.DS_Store
example_tex/.DS_Store
*.log
*.aux
*.out
*.fdb_latexmk
*.fls
local_testing/
playwright-report/
test-results/
/package.json
/package-lock.json
